
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color : #f9f8e5;
}

.header {
	color: #ffffff;
	padding: 15px;
}

.container {
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	min-height: 100%;
}

.row::after {
	clear: both;
	display: block;
}

.footer {
	font-family: "Lucida Sans", sans-serif;
	background-color: #b5a567;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	padding: 2em;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.col-1 {
	width: 33.33%;
}

.col-2 {
	width: 50%;
}

.col-3 {
	width: 66.66%;
}

.col-4 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.tour-details {
	padding-left: .6em;
}

.tour-travellers li {
	margin: .5em 0;
	padding: .3em 0 .3em 0;
	height: 1.6em;
}

.trip-travellers li {
	margin-bottom: 1em;
	padding: .3em 0 .3em 0;
	height: 0.4em;
}

@media (min-width:768px) {
	.container {
		width: 750px;
	}

	.tour-trips li {
		width: 300px;
	}

	.tours, .tour-trips {
		width: 15em;
	}
}

@media (min-width:992px) {
	.container {
		width: 970px;
	}
}

@media (min-width:1260px) {
	.container {
		width: 1230px;
	}
}

@media only screen and (min-width: 1260px) {
	.menu li {
		
		width: 97%;
	}

	.top-menu li {
		width: 30%;
	}
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}

	.footer {
		padding: 0;
	}

	.tour-trips li {
		width: 100%;
	}

	.tours, .tour-trips {
		width: 97%;
	}

	.menu li {
		
		width: 97%;
	}

	#aboutus, #contactus {
		display: none !important;
	}

	.top-menu li {
		width: 97%;
	}
}

@media only screen and (max-width: 1260px) and (min-width: 768px) {
	.col-1, .col-3 {
		width: 100%;
	}

	.col-2 {
		width: 50%;
	}

	.footer {
		padding: 0;
	}

	.tours, .tour-trips {
		width: 100%;
	}

	.menu ul {
		overflow: hidden;
	}

	.menu a {
		text-align: center;
	}

	.menu li {
		width: 30%;
	}

	#aboutus, #contactus {
		display: none !important;
	}

	.top-menu li {
		width: 94%;
	}
}

.menu {
	padding: 15px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu a {
	color: #fff;
	text-decoration: none;
	position: relative;
	display: block;
}

.menu li {
	float: left;
	position: relative;
	cursor: pointer;
	background-color: #540140;
	margin: .5em;
	padding: .8em 0 .3em .8em;
	height: 2.6em;
	border-radius: 4px;
}

.menu li:hover {
	color: #fff;
	background-color: #8c076c;
	left: .1em;
}

h1 {
	margin: 0;
	color: #b5a567;
}

.tours, .tour-trips {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	/*width: 15em;*/
}

.tour-trips li {
	background-color: #EEE;
}

.tours li {
	background-color: #540140;
}

.tours li, .tour-trips li {
	position: relative;
	cursor: pointer;
	margin: .5em;
	padding: .3em 0 .3em 0;
	height: 2.6em;
	border-radius: 4px;
}

.tour-trips li {
	display: inline-block;
	height: 3em;
	padding-left: .6em;
}

.tour-trips li:hover {
	background-color: #ddd;
}

.tours li:hover {
	background-color: #8c076c;
}

.tours li:hover, .tour-trips li:hover {
	color: #607D8B;
	left: .1em;
}

.tours a, .tour-trips a {
	color: #fff;
	text-decoration: none;
	position: relative;
	display: block;
	width: 250px;
}

.tours a:hover, .tour-trips a:hover {
	color: #fff;
}

.tours .bullet {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #47021d;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 3.1em;
	min-width: 20px;
	text-align: right;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}

.tours-container {
	margin-left: 20px;
}

.selected {
	background-color: #757575 !important;
	color: white !important;
}

#linkTourHome {
	font-family: Arial;
	background-color: #eee;
	border: none;
	margin: 1.6em 0 3.0em 0;
	padding: .8em 0 .3em .8em;
	border-radius: 4px;
	width: 100%;
}

#linkTourHome:hover {
	background-color: #cfd8dc;
}

.top-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 11px;
	overflow: hidden;
}

.top-menu a {
	text-align: center;
	color: #fff;
	text-decoration: none;
	position: relative;
	display: block;
}

.top-menu li {
	float: left;
	position: relative;
	cursor: pointer;
	background-color: #8c0843;
	margin: .5em;
	padding: .8em 0 .3em .8em;
	height: 2.6em;
	border-radius: 4px;
}

.top-menu a:hover {
	color: #fff;
}

.top-menu li:hover {
	color: #fff;
	background-color: #bf1e66;
	left: .1em;
}

.top-menu h1 {
	margin: .5em;
}

